# PostgreSQL
POSTGRES_USER=tgbot
POSTGRES_PASSWORD=guclu_sifre_yaz
POSTGRES_DB=tgbotdb

# JWT Secret (min 32 karakter rastgele string)
SECRET_KEY=buraya_cok_guclu_bir_secret_key_yaz

# Panel giriş bilgileri
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin_sifren

# Domain
DOMAIN=tele.luanawork.com
